<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.huangjie.hjandroiddemos">

    <!-- add by HJ begin -->
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 屏幕保持唤醒 不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 用于判断当前网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 文件读权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- add by HJ 视频录制权限 begin -->
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 限制有摄像头设备安装 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <!-- 文件写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- add by HJ end -->
    <!-- add by HJ end -->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".rxjavademo.RxjavaDemoActivity">
        </activity>
        <activity android:name=".qqslidemenu.TestQQSlideMenuActivity">
        </activity>
        <activity android:name=".mediarecorderdemo.MediaRecorderActivity">
        </activity>
        <activity android:name=".customview.TopbarViewActivity">
        </activity>
        <activity android:name=".mediarecorderdemo.MediaActivity">
        </activity>
        <activity android:name=".mediarecorderdemo.LocalVideoListActivity2">
        </activity>
        <activity android:name=".customview.CustomViewActivity">
        </activity>
        <activity android:name=".customview.TouchPullViewActivity">
        </activity>
        <activity android:name=".customview.BezierActivity">
        </activity>
        <activity android:name=".webview.WebViewActivity">
        </activity>
        <activity android:name=".websocket.WebSocketActivity">
        </activity>
        <activity android:name=".service.ServiceActivity">
        </activity>

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".service.DownloadActivity"
            android:launchMode="singleTop">
        </activity>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".fragment.TestFragmentActivity">
        </activity>
        <activity android:name=".live.LiveListActivity">
        </activity>
        <activity android:name=".preference.SettingActivity">
        </activity>
        <activity
            android:name=".live.LiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".live.TestTouchActivity">

        </activity>
    </application>

</manifest>